{% extends 'blog_app/base.html' %} {% block body_block %}

<div class="row">
	<div class="col-md-12">
		<div class="centerstage">
			<div class="row col-md-9">
				{% for post in posts %}
				<div class="col-md-6" id="posts_content">
					<br />
					<img src="{{post.image.url}}" class="img-circle" style="width: 20px; height: 20px" />{{post.author}}

					<h3><a href="{% url 'basic_app:postDetail' pk=post.pk %}">{{post.title}}</a></h3>
					<div>
						<p>{{post.text|truncatechars:80}}</p>
					</div>
					<div class="date">
						<p>{{post.publishTime|date:"D M Y"}}</p>
					</div>
				</div>
				<div class="col-md-3">
					{% if post.image %}
					<br />
					<img src="{{post.image.url}}" class="img-thumbnail" id="main-images" />
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row col-md-3">
			<div>Hello</div>
		</div>
	</div>
</div>

<!-- <div class="list-group">
	{% for post in posts %}
	<a
		style="width: 50%"
		href="{% url 'basic_app:postDetail' pk=post.pk %}"
		class="list-group-item list-group-item-action"
	>
		<div
			class="d-flex w-50 justify-content-between"
			style="display: flex; flex-direction: row; justify-content: space-between"
		>
			<h3 class="mb-1">{{post.title}}</h3>
			<small class="text-muted" style="margin-top: 20px">{{post.publishTime}}</small>
		</div>
		<p class="mb-1">{{post.content}}</p>
		<div
			class="d-flex w-50 justify-content-between"
			style="display: flex; flex-direction: row; justify-content: space-between"
		>
			<small class="text-muted">{{post.author}}</small>
			<small class="text-muted" style="color: blue">Comments: {{post.comments.count}}</small>
		</div>
	</a>

	{% endfor %}
</div> -->

{% endblock %}
